.title {
    -fx-text-fill: rgb(125, 26, 26);
    -fx-font-size: 30;
}

.button {
    -fx-background-color: rgb(48, 121, 146);
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}


/* Admin Dashboard Styles */
.dashboard-page {
    -fx-background-color: #E3E3E3;
}
.dashboard-header {
    -fx-background-color: #44090F;
    -fx-padding: 14 24 14 24;
    -fx-border-color: #73000A;
    -fx-fill: black;
    -fx-font-size: 58px;
    -fx-font-family: "News Cycle";
    -fx-font-weight: bold;
}
.dashboard-header-button {
    -fx-background-color: #44090f;
    -fx-background-radius: 4;
    -fx-padding: 10 16 10 16;
}

.welcome-message {
    -fx-font-weight: bold;
}

.dashboard-date {
    -fx-fill: black;
    -fx-font-size: 36px;
    -fx-font-family: "News Cycle";
}
.dashboard-student-challenge-box { /* might change padding and stuff*/
    -fx-background-color: #73000A;
    -fx-background-radius: 16;
    -fx-padding: 26 28 26 28;
    -fx-max-width: 420;
}
.dashboard-challenge-header {
    -fx-fill: white;
    -fx-font-size: 36px;
    -fx-font-family: "News Cycle";
}
.dashboard-challege-question-title {
    -fx-text-fill: white;
    -fx-font-size: 30px;
    -fx-font-family: "News Cycle";
}
.dashboard-challenge-question-description {
    -fx-fill: white;
    -fx-font-size: 24px;
    -fx-font-family: "News Cycle";
}
.dashboard-button-challenge {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-font-size: 24px;
    -fx-text-fill: #44090F;
    -fx-font-family: "News Cycle";
    -fx-padding: 10 12 10 12;
}
.dashboard-streak-text {
    -fx-fill: #73000A;
    -fx-font-size: 52px;
    -fx-font-family: "News Cycle";
    -fx-font-weight: bold;
}
.dashboard-search {
    -fx-background-color: #e7e7e7;
    -fx-background-radius: 4;
    -fx-border-color: #d0d0d0;
    -fx-border-radius: 4;
    -fx-font-size: 16px;
    -fx-padding: 10 12 10 12;
}

.dashboard-start-button {
    -fx-background-color: #73000A;
    -fx-text-fill: white;
    -fx-font-family: "News Cycle";
    -fx-font-size: 16px;
    -fx-background-radius: 4;
    -fx-padding: 10 16 10 16;
}

.dashboard-sections-background {
    -fx-background-color: #ffffff;
    -fx-background-radius: 16;
    -fx-padding: 26 28 26 0;
    
}

.dashboard-sections-title {
    -fx-font-weight: bold;
}

.dashboard-sections-text {
    -fx-font-size: 32px;
    -fx-font-family: "News Cycle";
    -fx-fill: #73000A;
}
.dashboard-sections-labels {
    -fx-font-size: 20px;
    -fx-font-family: "News Cycle";
}
.dashboard-completed-date {
    -fx-font-size: 15px;
    -fx-font-family: "News Cycle";
    -fx-fill: #A9A9A9;
}
.dashboard-brand-title {
    -fx-font-size: 35px;
    -fx-font-family: "News Cycle";
    -fx-fill: white;
}
.label.dashboard-brand-title {
    -fx-text-fill: white;
}

.button-alert {
    -fx-background-color: #E3E3E3;
    -fx-text-fill: black;
}

.button-add-manage {
    -fx-background-color: #73000A;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-radius: 16;
    -fx-padding: 26 28 26 28;
}

#header-title {
    -fx-padding: 1;
}